In [3]:
import pandas as pd

In [17]:
file_path = "/mnt/c/Users/user/OneDrive/Desktop/foursquare-location-matching-parquet/sample_submission.parquet"

In [18]:
df = pd.read_parquet(file_path)

In [19]:
df.head()

                 id                            matches
0  E_00001118ad0191                   E_00001118ad0191
1  E_000020eb6fed40                   E_000020eb6fed40
2  E_00002f98667edf                   E_00002f98667edf
3  E_001b6bad66eb98  E_001b6bad66eb98 E_0283d9f61e569d
4  E_0283d9f61e569d  E_0283d9f61e569d E_001b6bad66eb98

In [15]:
#df.duplicated().sum()

In [16]:
df.isna().sum()

id                        0
name                      1
latitude                  0
longitude                 0
address              396621
city                 299189
state                420586
zip                  595426
country                  11
url                  871088
phone                795957
categories            98307
point_of_interest         0
dtype: int64